<div class="col-md-12">
  <div class="center-block">

    <a target="_blank" href='mailto:contact@changeons.org'>
      <i class="fa fa-envelope"></i>
    </a>
    <a target="_blank" href="https://twitter.com/ChangeonsOrg">
      <i class="fa fa-twitter"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/changeonsorg">
      <i class="fa fa-facebook"></i>
    </a>
    <p class="copyright">
      <a target="_blank" href="https://twitter.com/dbachet" alt="© 2015 Damien Bachet">© 2015 Damien Bachet</a>
    </p>

  </div>
</div>