<!-- TODO remove this hidden tag. -->
<!-- ATM it is necessary for the InViewport mixin to work properly -->
<div class="hidden">{{exitedViewport}}</div>
{{category-menu currentCategory=currentCategory}}
<div class="clearfix visible-xs-block"></div>
<div class="clearfix visible-sm-block"></div>
{{yield}}
