@import url(http://fonts.googleapis.com/css?family=Pacifico);

html, body {
  margin: 20px;
  background: url('/assets/images/transparent-pattern.png'),
              #34AB00;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #fff;
}

