@import 'bower_components/font-awesome/scss/font-awesome.scss';
@import 'shared_sass.scss';
@import url(http://fonts.googleapis.com/css?family=Pacifico);

html

body {
  color: #fff;
  background-color: #f0f2f4;
  font-weight: 200;
  margin:0;
  padding:0;
}

body:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  /* Small devices (desktops, 768px and up) */
  @media (min-width: 768px) {
    height: 400px;
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    height: 260px;
  }
  content: "";
  background: #64c235;
}

header {
  padding: 20px 0;
  img { width: 85% }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    padding: 40px 0 15px;
    img { width: 20% }
  }
}

.category-menu {
  font-size: 1.8em;
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    font-size: 1em;
  }
  .not-expanded, .expanded {
    padding: 10px;
    text-align: center;
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      text-align: initial;
    }
    .category-label {
      .glyphicon {
        top: 6px;
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
          top: 2px;
        }
      }
    }
    .glyphicon {
      top: 4px;
      /* Medium devices (desktops, 992px and up) */
      @media (min-width: 992px) {
        top: 2px;
      }
    }
  }

  .not-expanded {
    position: relative;
    a, a:hover, a:visited {
      color: #fff;
      text-decoration: none;
    }
  }

  .expanded {
    position: absolute;
    z-index: 100;
    background: #f7f9fb;
    a, a:hover, a:visited {
      color: #64c235;
      text-decoration: none;
    }
    .category-label {
      margin-top: 5px;
      width: 80%;
      /* Medium devices (desktops, 992px and up) */
      @media (min-width: 992px) {
        width: initial;
      }
      a, a:hover, a:visited {
        color: #fff;
      }
    }
  }
}

section#shares {
  ul {
    list-style-type: none;
    li.link {
      font-size: 1.5em;
      color: #777;
      padding: 20px 20px;
      margin: 0;
      min-height: 150px;
      background-color: #fff;
      &:not(:first-child){
        border-top: 1px solid #e4e7ee;
      }
      span.name {
        a, a:hover {
          color: #64c235;
        }
        margin-left: 10px;
      }
      span.language {
        text-transform: lowercase;
      }
      div.shared-by {
        margin: 20px 0 0;
      }
    }
  }
}

.category-label {
  padding: 2px 5px;
  display: inline-block;
  color: #fff;
  white-space: nowrap;
  a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
  }
  .separator {
    font-weight: 100;
  }
}

/* This gets Facebook to fall into place */
#social-share iframe {
  vertical-align: baseline;
}

.fb-share-button{
 margin-right:20px;
}
/* Set an optional width for your button wrappers */
#social-share span {
  display: inline-block;
  width: 110px;
}

.submit-text {
  position: relative;
}

/* Following code was found on http://cssload.net/ */
#form-loading {
  width:28px;
  position: absolute;
  left: -22px;
}

.form-loading-block {
  background-color:#FFFFFF;
  border:1px solid #FFFFFF;
  float:left;
  height:20px;
  margin-left:1px;
  width:5px;
  opacity:0.1;
  -moz-animation-name:bounceG;
  -moz-animation-duration:1.3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-transform:scale(0.7);
  -webkit-animation-name:bounceG;
  -webkit-animation-duration:1.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-transform:scale(0.7);
  -ms-animation-name:bounceG;
  -ms-animation-duration:1.3s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-transform:scale(0.7);
  -o-animation-name:bounceG;
  -o-animation-duration:1.3s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-transform:scale(0.7);
  animation-name:bounceG;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  transform:scale(0.7);
}

#blockG_1 {
  -moz-animation-delay:0.39s;
  -webkit-animation-delay:0.39s;
  -ms-animation-delay:0.39s;
  -o-animation-delay:0.39s;
  animation-delay:0.39s;
}

#blockG_2 {
  -moz-animation-delay:0.52s;
  -webkit-animation-delay:0.52s;
  -ms-animation-delay:0.52s;
  -o-animation-delay:0.52s;
  animation-delay:0.52s;
}

#blockG_3 {
  -moz-animation-delay:0.65s;
  -webkit-animation-delay:0.65s;
  -ms-animation-delay:0.65s;
  -o-animation-delay:0.65s;
  animation-delay:0.65s;
}

@-moz-keyframes bounceG {
  0% {
    -moz-transform:scale(1);
    opacity:1
  }

  100% {
    -moz-transform:scale(0.7);
    opacity:0.1
  }
}

@-webkit-keyframes bounceG {
  0% {
    -webkit-transform:scale(1);
    opacity:1
  }

  100% {
    -webkit-transform:scale(0.7);
    opacity:0.1
  }
}

@-ms-keyframes bounceG {
  0% {
    -ms-transform:scale(1);
    opacity:1
  }

  100% {
    -ms-transform:scale(0.7);
    opacity:0.1
  }
}

@-o-keyframes bounceG {
  0% {
    -o-transform:scale(1);
    opacity:1
  }

  100% {
    -o-transform:scale(0.7);
    opacity:0.1
  }
}

@keyframes bounceG {
  0% {
    transform:scale(1);
    opacity:1
  }

  100% {
    transform:scale(0.7);
    opacity:0.1
  }
}