@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadowed($params) {
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}

$white: #fff;
$green: #34AB00;

$background-color: $green;
$darken-white-color: darken($white, 10%);
$lighten-black-color: rgba(0,0,0,0.4);
$darken-background-color: darken($background-color, 4%);
$much-darken-background-color: darken($background-color, 15%);
$lighten-background-color: lighten($background-color, 3%);
$dark-on-dark: #333;
$dark-on-bright: #555;

// yellow 249, 196, 68
// green 117, 208, 142
// dark gray 149, 143, 150
// light blue 114, 165, 198
// dark blue 14, 99, 123
// pink 246, 167, 208
// bordeaux 189, 96, 96
// green 52c25d
//blue 34495f