<div>
  <form {{action 'create' on='submit'}}>
    {{input valueBinding='email' id='email' placeholder='Email' type='email'}}
    <button id="btn-save-mailing-recipient" class="btn btn-primary" {{action 'create'}}>
      M'avertir du lancement
    </button>
  </form>
</div>