<div class="row">
  <section id="about" class="col-md-8 col-md-offset-2">

    <p class="lead">Mars 2011, la centrale nucléaire de Fukushima fait trembler le monde. Un sentiment d'impuissance me prend. J'ai décidé d'agir. "Mais que peut-on faire ?" C'est une question qui revient souvent dans les conversations. Je pense à présent que chacun peut faire quelque chose à son échelle.</p>

    <p class="lead">Pour ma part, je débutais dans la programmation et j'ai décidé de faire un petit portail pour créer/relayer de l'information sur l'environnement. C'est donc un long travail qui a débuté. Après quelques mois, j'avais développé un site où l'on pouvait créer ses propres articles, poser des questions aux autres, recenser des évènements, et écrire des fiches sur des produits bio. Chaque partie contenant son système de commentaire afin de discuter/partager/débattre sur le sujet. Malheureusement, je n'ai pas eu les épaules pour aboutir.</p>

    <p class="lead">Deux ans passèrent et je repris le projet. Un mois de développement en reprenant de zéro et Changeons.org est sorti de Terre. Pour les développeurs, j'ai utilisé Ruby pour le langage de programmation et Rails en tant que Framework. J'ai voulu faire une version la plus minimaliste possible ce qui m'a permis de la mettre en ligne rapidement.</p>

    <p class="lead">Seulement, je n'en ai pas beaucoup parlé et seul mon entourage en a bénéficié. Il leur était possible de partager des liens (Articles, posts de blog, n'importe quelle URL). J'ai pu voir un certain entrain à partager des informations qui les avaient intéressés eux-mêmes.</p>

    <p class="lead">Deux nouvelles années passèrent... J'ai eu envie (encore une fois) d'aller plus loin. Je suis (encore une fois) reparti de zéro avec le souhait d'utiliser une nouvelle technologie dans laquelle je souhaitais me spécialiser, Ember.js. En effet, j'ai eu envie de pouvoir ajouter facilement et régulièrement des fonctionnalités et que Changeons.org soit le plus facile d'utilisation. C'est donc pour organiser mon code de la meilleure des manières que j'ai choisi ce framework. Ce paragraphe n'est sûrement compréhensible que par moins d'un pourcent de la population, mais cela se devait d'être dit :)</p>

    <p class="lead">J'ai décidé de faire un effort en communication. Page Facebook, compte Twitter, annonce du site, distribution de cartes format "visite" dans les supermarchés sensibles à l'environnement, etc... Le voici maintenant prêt à voir le jour. Comme pour la deuxième version, j'ai souhaité être le plus minimaliste afin d'être sûr de le mettre en ligne. J'ai donc décidé de ne pas permettre aux utilisateurs de partager des liens tout en sachant que ce serait la prochaine fonctionnalité à produire. En effet, la mise en place du code et le design prennent déjà un temps certain.</p>

    <p class="lead">Au final, le but de ce Changeons.org est de permettre à qui que ce soit de pouvoir faire un petit geste. La réponse à la question "Mais que peut-on faire ?" est donc toute faite. Informer et rester informé. Selon moi, c'est avec une société éduquée et informée que les gens pourront se faire les meilleures opinions. Ainsi chacun peut changer à sa façon et juger de ses propres actes. Car on ne peut changer les autres, juste soit-même.</p>

    <p class="lead">L'équipe de Changeons.org,<br>Damien Bachet</p>
  </section>
</div>