<div class="container">
  <h1>Changeons</h1>

  <section id="description">
    <p>Relais de l'information sur l'écologie et l'environnement.</p>
    <p>Puisque l'on est plus fort groupés, <big>contribuons tous ensemble</big> au changement !</p>
  </section>
  {{outlet}}
</div>
