<div class="container-fluid">
  <section id="logo" class="row">
    <div class="col-md-12 text-center">
      <a href="http://changeons.org" alt="ENSEMBLE, Changeons">
        <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/logo-changeons.png">
      </a>
    </div>
  </section>

  <section id="main-message" class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center content">
      Relayons l'information sur l'écologie et&nbsp;l'environnement&nbsp;!
    </div>
  </section>

  <section id="social-share" class="row">
    <div class="col-xs-12 text-center message">
      Une information d'envergure ne peut se passer des réseaux sociaux.</br>N'hésitez pas à partager cette page !
    </div>

    <div class="col-xs-4 col-md-2 col-md-offset-3 text-center">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="http://changeons.org" data-text="Informons-nous les uns, les autres via Changeons.org ! Plus qu'un simple geste, un combat pour la nature">Tweet</a>
    </div>

    <div class="col-xs-4 col-md-2 text-center">
      <div class="fb-share-button" data-href="http://changeons.org" data-layout="box_count"></div>
    </div>

    <div class="col-xs-4 col-md-2 pinit text-center">
      <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
    </div>
  </section>

  {{outlet}}

  {{footer-content}}
</div>