<div class="container">
  <h1>Changeons</h1>

  <section id="description">
    <p>Relais de l'information sur l'écologie et l'environnement.</p>
    <p>Puisque l'on est plus fort groupés, <big>contribuons tous ensemble</big> au changement !</p>
  </section>

  <footer>
    <a href='mailto:admin@changeons.org'>
      <i class="fa fa-envelope circle-footer"></i>
    </a>
    <a href="https://twitter.com/ChangeonsOrg">
      <i class="fa fa-twitter circle-footer"></i>
    </a>
    <a href="https://github.com/dbachet/changeons">
      <i class="fa fa-github-alt circle-footer"></i>
    </a>
    <a href="https://huboard.com/dbachet/changeons">
      <i class="fa fa fa-h-square circle-footer"></i>
    </a>
    <p>© 2013 Damien Bachet</p>
  </footer>
  {{outlet}}
</div>