<div class="container-fluid">
  <header class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <ul id="navigation-menu">
        <li id="logo">
          <a href="http://changeons.org" alt="ENSEMBLE, Changeons">
            <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/logo-changeons-square.png">
          </a>
        </li>
        <li>
          {{#link-to "links"}}
            ACCUEIL
          {{/link-to}}
        </li>
        <li>
          {{#link-to "about"}}
            A PROPOS
          {{/link-to}}
        </li>
        <li>
          {{#link-to "contact"}}
            CONTACT
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center opening-lines">
      <h1>Partageons l'information sur&nbsp;le&nbsp;respect de&nbsp;l'environnement</h1>
      <h4>Changeons pour une société plus solidaire</h4>
    </div>
    {{header-menu currentCategory=currentCategory applicationController=controller}}
  </header>

  {{#if showFixedTopBar}}
    <div class="fixed-top-bar row">
      <div id="logo" class="col-sm-3 col-md-2 col-md-offset-2 hidden-xs">
        <a href="http://changeons.org" alt="ENSEMBLE, Changeons">
          <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/logo-changeons-horizontal.png">
        </a>
      </div>
      <div id="logo" class="col-xs-3 visible-xs-block">
        <a href="http://changeons.org" alt="ENSEMBLE, Changeons">
          <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/papillon.png">
        </a>
      </div>
      <div class="col-xs-9 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-4">
        {{category-menu currentCategory=currentCategory locatedInFixedTopBar=true}}
      </div>
    </div>
  {{/if}}

  {{outlet}}

</div>