<div class="container-fluid">
  <header class="row">
    <div id="logo" class="col-md-12 text-center">
      <a href="http://changeons.org" alt="ENSEMBLE, Changeons">
        <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/logo-changeons.png">
      </a>
    </div>
    <div class="categories col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <a href="#">
            Catégories
            <span class="glyphicon glyphicon-triangle-bottom small"></span>
          </a>
        </div>
      </div>
    </div>
  </header>

  {{outlet}}

</div>