<div class="row">
  <section id="contact" class="col-md-8 col-md-offset-2">
    <p class="lead">Vous voulez nous contacter ? Voici différentes façons:</p>
    Notre compte Twitter <a href="https://twitter.com/ChangeonsOrg">https://twitter.com/ChangeonsOrg</a>
    <br>
    Notre page Facebook <a href="https://www.facebook.com/changeonsorg">https://www.facebook.com/changeonsorg</a>
    <br>
    Email <a href="mailto:contact@changeons.org">contact@changeons.org</a>
    <br>
    <br>
    <p class="lead">
      Vous voulez participer à l'évolution du projet Changeons.org ?
    </p>
    Un projet solidaire n'a pas vocation à rester l'oeuvre d'une seule personne. Si vous souhaitez me donner donner un coup de main, contactez-moi et l'on trouvera sûrement une façon de pouvoir participer à rendre ce projet encore plus intéressant.<br><br>
    L'équipe Changeons.org,<br>
    Damien Bachet
  </section>
</div>