<div class="row">
  <section id="credits" class="col-md-8 col-md-offset-2">
    <h1>
      CRÉDITS
    </h1>
    <h2>Conception du site et photo</h2>
    Damien Bachet <a href="https://twitter.com/dbachet">twitter</a> - <a href="https://github.com/dbachet">github</a> - <a href="fr.linkedin.com/in/dbachet">linkedin</a>
    <h2>Logo</h2>
    Jeanne Delécluse <a href="http://www.hibiscous.com/">www.hibiscous.com</a> - <a href="http://www.jeannedelecluse.com">www.jeannedelecluse.com</a>
  </section>
</div>